n8n-workflows/1-gerar-roteiro.json
{
  "name": "PULSO - Gerar Roteiro",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gerar-roteiro",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "d6e7f8a9-b0c1-2d3e-4f5a-6b7c8d9e0f1a",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "gerar-roteiro"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  i.*,\n  c.nome as canal_nome,\n  s.nome as serie_nome\nFROM pulso_content.ideias i\nLEFT JOIN pulso_core.canais c ON i.canal_id = c.id\nLEFT JOIN pulso_core.series s ON i.serie_id = s.id\nWHERE i.id = '{{ $json.body.ideiaId }}'"
      },
      "id": "a1b2c3d4-e5f6-7g8h-9i0j-k1l2m3n4o5p6",
      "name": "Buscar Ideia",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "prompt1",
              "name": "prompt",
              "value": "=Você é um roteirista especializado em conteúdo viral para redes sociais.\n\nTAREFA: Criar um roteiro envolvente para o seguinte conteúdo:\n\nTÍTULO: {{ $json.titulo }}\nDESCRIÇÃO: {{ $json.descricao }}\nCANAL: {{ $json.canal_nome }}\nSÉRIE: {{ $json.serie_nome || 'Sem série' }}\n\nFORMATO DO ROTEIRO:\n1. Hook inicial (primeiros 3 segundos) - frase de impacto\n2. Introdução (contextualização rápida)\n3. Desenvolvimento (conteúdo principal com curiosidades)\n4. Clímax (informação mais interessante)\n5. Conclusão (call to action)\n\nDIRETRIZES:\n- Linguagem casual e envolvente\n- Frases curtas e impactantes  \n- Duração alvo: 60-90 segundos\n- Use linguagem brasileira\n- Adicione pausas dramáticas com [PAUSA]\n- Enfatize palavras importantes com *palavra*\n\nGere APENAS o roteiro em markdown, sem introduções.",
              "type": "string"
            },
            {
              "id": "ideia_id",
              "name": "ideia_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "titulo",
              "name": "titulo",
              "value": "={{ $json.titulo }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-f6g7-h8i9-j0k1-l2m3n4o5p6q7",
      "name": "Preparar Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"model\": \"gpt-4o-mini\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": $json.prompt\n    }\n  ],\n  \"temperature\": 0.8,\n  \"max_tokens\": 2000\n} }}",
        "options": {}
      },
      "id": "c3d4e5f6-g7h8-i9j0-k1l2-m3n4o5p6q7r8",
      "name": "OpenAI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO pulso_content.roteiros (\n  ideia_id,\n  titulo,\n  conteudo_md,\n  versao,\n  status,\n  linguagem\n) VALUES (\n  '{{ $('Preparar Prompt').item.json.ideia_id }}',\n  '{{ $('Preparar Prompt').item.json.titulo }}',\n  '{{ $json.choices[0].message.content }}',\n  1,\n  'RASCUNHO',\n  'pt-BR'\n)\nRETURNING *"
      },
      "id": "d4e5f6g7-h8i9-j0k1-l2m3-n4o5p6q7r8s9",
      "name": "Salvar Roteiro",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO pulso_content.workflow_execucoes (\n  workflow_id,\n  entidade_tipo,\n  entidade_id,\n  status,\n  mensagem,\n  inicio_em\n)\nSELECT \n  w.id,\n  'roteiro',\n  '{{ $json.id }}',\n  'SUCESSO',\n  'Roteiro gerado com sucesso',\n  NOW()\nFROM pulso_content.workflows w\nWHERE w.slug = 'gerar-roteiro'\nLIMIT 1"
      },
      "id": "e5f6g7h8-i9j0-k1l2-m3n4-o5p6q7r8s9t0",
      "name": "Log Execução",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"success\": true,\n  \"roteiro_id\": $('Salvar Roteiro').item.json.id,\n  \"titulo\": $('Salvar Roteiro').item.json.titulo,\n  \"message\": \"Roteiro gerado com sucesso!\"\n} }}"
      },
      "id": "f6g7h8i9-j0k1-l2m3-n4o5-p6q7r8s9t0u1",
      "name": "Responder",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1560, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Buscar Ideia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Ideia": {
      "main": [
        [
          {
            "node": "Preparar Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Prompt": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Salvar Roteiro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar Roteiro": {
      "main": [
        [
          {
            "node": "Log Execução",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Execução": {
      "main": [
        [
          {
            "node": "Responder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
