n8n-workflows/1-gerar-roteiro-simples.json
{
  "name": "PULSO - Gerar Roteiro",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gerar-roteiro",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT i.*, c.nome as canal_nome, s.nome as serie_nome FROM pulso_content.ideias i LEFT JOIN pulso_core.canais c ON i.canal_id = c.id LEFT JOIN pulso_core.series s ON i.serie_id = s.id WHERE i.id = '{{ $json.body.ideiaId }}'"
      },
      "id": "postgres1",
      "name": "Buscar Ideia",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO pulso_content.roteiros (ideia_id, titulo, conteudo_md, versao, status, linguagem) VALUES ('{{ $json.id }}', '{{ $json.titulo }}', 'Roteiro gerado automaticamente', 1, 'RASCUNHO', 'pt-BR') RETURNING *"
      },
      "id": "postgres2",
      "name": "Salvar Roteiro",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "respond1",
      "name": "Responder",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Buscar Ideia", "type": "main", "index": 0}]]
    },
    "Buscar Ideia": {
      "main": [[{"node": "Salvar Roteiro", "type": "main", "index": 0}]]
    },
    "Salvar Roteiro": {
      "main": [[{"node": "Responder", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
