n8n-workflows/2-gerar-audio-simples.json
{
  "name": "PULSO - Gerar Audio",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gerar-audio",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook2",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT r.*, i.titulo as ideia_titulo FROM pulso_content.roteiros r LEFT JOIN pulso_content.ideias i ON r.ideia_id = i.id WHERE r.id = '{{ $json.body.roteiroId }}'"
      },
      "id": "postgres3",
      "name": "Buscar Roteiro",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.elevenlabs.io/v1/text-to-speech/{{ $json.body.vozId || 'EXAVITQu4vr4xnSDxMaL' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "elevenLabsApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {"name": "text", "value": "={{ $json.conteudo_md }}"},
            {"name": "model_id", "value": "eleven_multilingual_v2"}
          ]
        },
        "options": {
          "response": {"response": {"responseFormat": "file"}}
        }
      },
      "id": "http1",
      "name": "ElevenLabs TTS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Audio gerado!\" } }}"
      },
      "id": "respond2",
      "name": "Responder",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Buscar Roteiro", "type": "main", "index": 0}]]
    },
    "Buscar Roteiro": {
      "main": [[{"node": "ElevenLabs TTS", "type": "main", "index": 0}]]
    },
    "ElevenLabs TTS": {
      "main": [[{"node": "Responder", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
