n8n-workflows/WF01_Gerar_Roteiro.json
{
  "name": "WF01 - CRON Gerar Roteiros (CORRIGIDO)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "A cada 5 minutos",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  i.id as ideia_id,\n  i.canal_id,\n  i.titulo,\n  i.descricao,\n  i.tags,\n  i.linguagem,\n  i.metadata,\n  c.nome as canal_nome,\n  c.slug as canal_slug,\n  c.metadata as canal_metadata\nFROM pulso_content.ideias i\nJOIN pulso_core.canais c ON c.id = i.canal_id\nWHERE i.status = 'APROVADA'\n  AND NOT EXISTS (\n    SELECT 1 \n    FROM pulso_content.roteiros r \n    WHERE r.ideia_id = i.id\n  )\nORDER BY COALESCE(i.updated_at, i.created_at) ASC\nLIMIT 10;",
        "options": {}
      },
      "id": "buscar-ideias",
      "name": "Buscar Ideias Sem Roteiro",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [460, 300],
      "credentials": {
        "postgres": {
          "id": "q19Ps5vylbEtdVtd",
          "name": "Postgres supabase"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "check-items",
              "leftValue": "={{ $json.ideia_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-ideias",
      "name": "Tem Ideias?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "log-vazio",
              "name": "mensagem",
              "value": "Nenhuma ideia aguardando roteirização",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "sem-ideias",
      "name": "Log - Sem Ideias",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 400]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "loop-ideias",
      "name": "Loop - Processar Ideias",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [900, 200]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "prep001",
              "name": "ideia_id",
              "value": "={{ $json.ideia_id }}",
              "type": "string"
            },
            {
              "id": "prep002",
              "name": "canal_id",
              "value": "={{ $json.canal_id }}",
              "type": "string"
            },
            {
              "id": "prep004",
              "name": "titulo",
              "value": "={{ $json.titulo }}",
              "type": "string"
            },
            {
              "id": "prep005",
              "name": "descricao",
              "value": "={{ $json.descricao }}",
              "type": "string"
            },
            {
              "id": "prep006",
              "name": "linguagem",
              "value": "={{ $json.linguagem || 'pt-BR' }}",
              "type": "string"
            },
            {
              "id": "prep007",
              "name": "canal_nome",
              "value": "={{ $json.canal_nome }}",
              "type": "string"
            },
            {
              "id": "prep008",
              "name": "canal_slug",
              "value": "={{ $json.canal_slug }}",
              "type": "string"
            },
            {
              "id": "prep009",
              "name": "tom_voz",
              "value": "={{ $json.canal_metadata?.tom_voz || 'narrativo e envolvente' }}",
              "type": "string"
            },
            {
              "id": "prep010",
              "name": "gancho_sugerido",
              "value": "={{ $json.metadata?.gancho_sugerido || 'Crie um gancho impactante' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "preparar-contexto",
      "name": "Preparar Contexto",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=Você é um roteirista profissional especializado em vídeos curtos virais para redes sociais (TikTok, Instagram Reels, YouTube Shorts).\n\n**BRIEFING DO CONTEÚDO:**\n🎬 Canal: {{ $json.canal_nome }} (@{{ $json.canal_slug }})\n📌 Título da Ideia: {{ $json.titulo }}\n📝 Descrição: {{ $json.descricao }}\n💡 Gancho Sugerido: {{ $json.gancho_sugerido }}\n🎭 Tom de Voz: {{ $json.tom_voz }}\n⏱️ Duração Alvo: 60-90 segundos\n🌍 Idioma: {{ $json.linguagem }}\n\n---\n\n**TAREFA:**\nCrie um roteiro viral otimizado para áudio (Text-to-Speech) com a seguinte estrutura:\n\n# [TÍTULO PÚBLICO SUPER CHAMATIVO]\n\n[Gancho inicial - primeira frase que PARA o scroll e cria curiosidade imediata]\n\n[Parágrafo 1: Contexto - apresente o tema de forma intrigante, faça uma pergunta provocativa ou apresente um fato surpreendente que conecte com a audiência]\n\n[Parágrafo 2: Desenvolvimento - conte a história principal, apresente dados interessantes, explique o conceito ou desenvolva a narrativa. Use storytelling envolvente com detalhes específicos que prendam a atenção]\n\n[Parágrafo 3: Build-up - aprofunde a história, adicione camadas de complexidade, revele informações progressivamente para manter o interesse crescente]\n\n[Parágrafo 4: Clímax - momento de revelação, conclusão impactante, lição principal ou insight surpreendente que faz valer a pena ter assistido]\n\n[Parágrafo 5: CTA - encerramento natural com call-to-action suave, como \"Segue o {{ $json.canal_nome }} para mais histórias que fazem você pensar\"]\n\n---\n\n**DIRETRIZES CRÍTICAS:**\n\n📏 **EXTENSÃO:**\n- Objetivo: 350-450 palavras (equivale a 60-90 segundos de áudio)\n- Mínimo absoluto: 300 palavras\n- Máximo: 500 palavras\n\n✍️ **ESTILO DE ESCRITA:**\n- Linguagem clara e natural (nível 8ª série)\n- Frases curtas e médias (8-15 palavras)\n- Tom conversacional, como se estivesse falando com um amigo\n- Use perguntas retóricas para engajar\n- Varie o ritmo: alterne frases curtas impactantes com frases mais descritivas\n\n🎯 **FORMATO:**\n- Use APENAS um título principal (# Título)\n- NÃO use subtítulos (##) ou emojis nas seções\n- NÃO inclua metadados, hashtags ou duração estimada\n- NÃO use marcadores de tempo (0-5s, 5-40s, etc)\n- Escreva em PARÁGRAFOS corridos, não em listas ou bullets\n- Cada parágrafo deve ter 3-5 frases\n\n🎭 **CONTEÚDO:**\n- Comece com gancho forte que gera curiosidade\n- Desenvolva com storytelling envolvente\n- Inclua detalhes específicos e concretos\n- Construa tensão ou interesse progressivamente\n- Termine com insight memorável\n- CTA natural e não forçado\n\n⚠️ **EVITAR:**\n- Formatação markdown além do título (#)\n- Emojis no corpo do texto\n- Listas numeradas ou com bullets\n- Citações em bloco\n- Seções claramente marcadas\n- Jargões ou termos técnicos complexos\n- Repetições desnecessárias\n\n✅ **EXEMPLO DE BOA ESTRUTURA:**\n\n# [Título Chamativo]\n\n[Gancho impactante em 1-2 frases curtas]\n\n[Desenvolvimento fluido em parágrafos corridos, contando a história de forma envolvente, com detalhes interessantes que mantêm a atenção...]\n\n[Mais desenvolvimento, aprofundando a narrativa...]\n\n[Clímax e conclusão impactante]\n\n[CTA natural]\n\n---\n\nResponda APENAS com o roteiro em texto corrido, começando diretamente com o título em markdown (# Título)."
            }
          ]
        },
        "options": {
          "maxTokens": 2000,
          "temperature": 0.8,
          "topP": 1
        }
      },
      "id": "gpt-gerar",
      "name": "GPT-4o - Gerar Roteiro",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.5,
      "position": [1340, 200],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "credentials": {
        "openAiApi": {
          "id": "UiqqtKTHr3xQlkcs",
          "name": "OpenAi pulso_control"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ==================================================\n// PROCESSAR ROTEIRO GERADO\n// ==================================================\n\nconst response = $input.item.json.message?.content || '';\n\nif (!response || response.trim().length < 100) {\n  throw new Error('Resposta da OpenAI está vazia ou muito curta');\n}\n\nconst contexto = $('Preparar Contexto').item.json;\n\n// ========== EXTRAIR TÍTULO ==========\nconst tituloMatch = response.match(/^#\\s+(.+)$/m);\nconst tituloPub = tituloMatch \n  ? tituloMatch[1].replace(/[🎬📌💡🔥✨⚡]/g, '').trim() \n  : contexto.titulo;\n\n// ========== CALCULAR MÉTRICAS ==========\nconst totalCaracteres = response.length;\nconst palavrasTotal = response.split(/\\s+/).filter(p => p.length > 0).length;\nconst paragrafos = response.split(/\\n\\n+/).filter(p => p.trim().length > 0).length;\n\n// Duração: ~25 caracteres/segundo para TTS\nconst duracaoSegundos = Math.ceil(totalCaracteres / 25);\n\n// ========== VALIDAÇÕES DE QUALIDADE ==========\nconst validacoes = {\n  tamanho_adequado: totalCaracteres >= 1800,  // Mínimo 1800 chars\n  palavras_suficientes: palavrasTotal >= 300,  // Mínimo 300 palavras\n  tem_paragrafos: paragrafos >= 4,  // Pelo menos 4 parágrafos\n  duracao_adequada: duracaoSegundos >= 60,  // Mínimo 60 segundos\n  tem_titulo: !!tituloMatch,\n  sem_formatacao_excessiva: (response.match(/##/g) || []).length === 0  // Sem subtítulos\n};\n\n// Score de qualidade (0-100)\nconst qualityScore = Object.values(validacoes).filter(Boolean).length * (100 / 6);\n\n// ========== DECISÃO DE STATUS ==========\n// Auto-aprovar se qualidade >= 80% E duração >= 60s\nconst autoAprovar = qualityScore >= 80 && duracaoSegundos >= 60;\nconst status = autoAprovar ? 'APROVADO' : 'RASCUNHO';\n\n// ========== ANÁLISE DE CONTEÚDO ==========\n// Detectar tipo de conteúdo\nconst temPergunta = /\\?/.test(response);\nconst temNumeros = /\\d{2,}/.test(response);\nconst temCitacao = /\"[^\"]+\"|'[^']+'/.test(response);\n\nconst caracteristicas = {\n  interativo: temPergunta,\n  com_dados: temNumeros,\n  com_citacoes: temCitacao,\n  narrativo: paragrafos >= 5\n};\n\n// ========== OUTPUT ==========\nreturn {\n  json: {\n    // IDs\n    ideia_id: contexto.ideia_id,\n    canal_id: contexto.canal_id,\n    \n    // Conteúdo\n    titulo: tituloPub,\n    conteudo_md: response,\n    \n    // Métricas\n    duracao_segundos: duracaoSegundos,\n    palavras_total: palavrasTotal,\n    total_caracteres: totalCaracteres,\n    total_paragrafos: paragrafos,\n    linguagem: contexto.linguagem,\n    \n    // Status\n    status: status,\n    auto_aprovado: autoAprovar,\n    quality_score: Math.round(qualityScore),\n    \n    // Metadados\n    validacoes: validacoes,\n    caracteristicas: caracteristicas,\n    \n    // Contexto original\n    canal_nome: contexto.canal_nome,\n    ideia_titulo: contexto.titulo\n  }\n};"
      },
      "id": "processar-roteiro",
      "name": "Processar Roteiro",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO pulso_content.roteiros (\n  ideia_id,\n  canal_id,\n  titulo,\n  conteudo_md,\n  duracao_estimado_segundos,\n  status,\n  linguagem,\n  categoria_metadata,\n  metadata\n) VALUES (\n  '{{ $json.ideia_id }}'::uuid,\n  '{{ $json.canal_id }}'::uuid,\n  '{{ $json.titulo }}',\n  '{{ $json.conteudo_md }}',\n  {{ $json.duracao_segundos }},\n  '{{ $json.status }}',\n  '{{ $json.linguagem }}',\n  'PADRAO_COMPLETO_V2',\n  jsonb_build_object(\n    'ai_modelo', 'gpt-4o',\n    'gerado_via', 'cron',\n    'prompt_version', '4.0',\n    'palavras_total', {{ $json.palavras_total }},\n    'total_caracteres', {{ $json.total_caracteres }},\n    'total_paragrafos', {{ $json.total_paragrafos }},\n    'quality_score', {{ $json.quality_score }},\n    'auto_aprovado', {{ $json.auto_aprovado }},\n    'validacoes', '{{ JSON.stringify($json.validacoes) }}'::jsonb,\n    'caracteristicas', '{{ JSON.stringify($json.caracteristicas) }}'::jsonb,\n    'gerado_em', NOW()::text\n  )\n) RETURNING id, titulo, status, duracao_estimado_segundos, created_at;",
        "options": {}
      },
      "id": "salvar-roteiro",
      "name": "Salvar Roteiro",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1780, 200],
      "credentials": {
        "postgres": {
          "id": "q19Ps5vylbEtdVtd",
          "name": "Postgres supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO pulso_content.logs_workflows (\n  workflow_name,\n  status,\n  detalhes\n) VALUES (\n  'WF01_CRON_Gerar_Roteiros',\n  'sucesso',\n  jsonb_build_object(\n    'roteiro_id', '{{ $json.id }}',\n    'ideia_id', '{{ $('Processar Roteiro').item.json.ideia_id }}',\n    'titulo', '{{ $json.titulo }}',\n    'duracao_segundos', {{ $json.duracao_estimado_segundos }},\n    'status', '{{ $json.status }}',\n    'quality_score', {{ $('Processar Roteiro').item.json.quality_score }},\n    'auto_aprovado', {{ $('Processar Roteiro').item.json.auto_aprovado }},\n    'timestamp', '{{ $json.created_at }}'\n  )\n);",
        "options": {}
      },
      "id": "log-sucesso",
      "name": "Log Sucesso Individual",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2000, 200],
      "credentials": {
        "postgres": {
          "id": "q19Ps5vylbEtdVtd",
          "name": "Postgres supabase"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "result-roteiro",
              "name": "roteiro_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "result-titulo",
              "name": "titulo",
              "value": "={{ $json.titulo }}",
              "type": "string"
            },
            {
              "id": "result-status",
              "name": "status",
              "value": "={{ $json.status }}",
              "type": "string"
            },
            {
              "id": "result-duracao",
              "name": "duracao",
              "value": "={{ $json.duracao_estimado_segundos }}s",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "prep-resultado",
      "name": "Preparar Resultado",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2220, 200]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "roteiros_gerados",
        "options": {}
      },
      "id": "agregar-resultados",
      "name": "Agregar Resultados",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "final-success",
              "name": "success",
              "value": "true",
              "type": "boolean"
            },
            {
              "id": "final-count",
              "name": "total_roteiros_gerados",
              "value": "={{ $json.roteiros_gerados.length }}",
              "type": "number"
            },
            {
              "id": "final-aprovados",
              "name": "total_auto_aprovados",
              "value": "={{ $json.roteiros_gerados.filter(r => r.status === 'APROVADO').length }}",
              "type": "number"
            },
            {
              "id": "final-timestamp",
              "name": "completed_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "resultado-final",
      "name": "Resultado Final",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1340, 300]
    }
  ],
  "connections": {
    "A cada 5 minutos": {
      "main": [[{"node": "Buscar Ideias Sem Roteiro", "type": "main", "index": 0}]]
    },
    "Buscar Ideias Sem Roteiro": {
      "main": [[{"node": "Tem Ideias?", "type": "main", "index": 0}]]
    },
    "Tem Ideias?": {
      "main": [
        [{"node": "Loop - Processar Ideias", "type": "main", "index": 0}],
        [{"node": "Log - Sem Ideias", "type": "main", "index": 0}]
      ]
    },
    "Loop - Processar Ideias": {
      "main": [
        [{"node": "Preparar Contexto", "type": "main", "index": 0}],
        [{"node": "Agregar Resultados", "type": "main", "index": 0}]
      ]
    },
    "Preparar Contexto": {
      "main": [[{"node": "GPT-4o - Gerar Roteiro", "type": "main", "index": 0}]]
    },
    "GPT-4o - Gerar Roteiro": {
      "main": [[{"node": "Processar Roteiro", "type": "main", "index": 0}]]
    },
    "Processar Roteiro": {
      "main": [[{"node": "Salvar Roteiro", "type": "main", "index": 0}]]
    },
    "Salvar Roteiro": {
      "main": [[{"node": "Log Sucesso Individual", "type": "main", "index": 0}]]
    },
    "Log Sucesso Individual": {
      "main": [[{"node": "Preparar Resultado", "type": "main", "index": 0}]]
    },
    "Preparar Resultado": {
      "main": [[{"node": "Loop - Processar Ideias", "type": "main", "index": 0}]]
    },
    "Agregar Resultados": {
      "main": [[{"node": "Resultado Final", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {"id": "MFytbRYpluf20w5V", "name": "PULSO"},
    {"id": "1oYaJvQyf1LhoYQ3", "name": "Automação"}
  ],
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "WF01_CORRIGIDO",
  "versionId": "2.0.0"
}