n8n-workflows/WF02_Gerar_Audio.json
{
  "name": "WF02 - Gerar Áudio TTS (LINEAR BLINDADO)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "id": "beba8ba7-ca98-4707-b1ab-c1a625e0054a",
      "name": "A cada 10 minutos",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Buscar roteiros aprovados que ainda não têm áudio gerado\nSELECT \n r.id as roteiro_id,\n r.ideia_id,\n r.canal_id,\n i.serie_id,\n r.titulo,\n r.conteudo_md,\n r.duracao_estimado_segundos,\n r.linguagem,\n r.metadata,\n i.titulo as ideia_titulo,\n c.nome as canal_nome,\n c.slug as canal_slug,\n c.idioma as canal_linguagem,\n p.id as pipeline_id,\n p.status as pipeline_status\nFROM pulso_content.roteiros r\nINNER JOIN pulso_content.ideias i ON i.id = r.ideia_id\nINNER JOIN pulso_core.canais c ON c.id = r.canal_id\nLEFT JOIN pulso_content.pipeline_producao p ON p.ideia_id = r.ideia_id\nLEFT JOIN pulso_content.audios a ON a.roteiro_id = r.id\nWHERE r.status = 'APROVADO'\n AND a.id IS NULL\n AND r.conteudo_md IS NOT NULL\n AND LENGTH(r.conteudo_md) > 50\nORDER BY r.created_at ASC\nLIMIT 5;",
        "options": {}
      },
      "id": "5befd06b-bb2c-4872-8ac1-75ca77a0ca7f",
      "name": "Buscar Roteiros sem Áudio",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [460, 300],
      "credentials": {
        "postgres": {
          "id": "ziXq3E6EiLFU31DX",
          "name": "Postgres Supabase NOVO"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-items",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": "0",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b55f3dc1-e6aa-49cc-8bec-e25598406d4f",
      "name": "Tem Roteiros?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "log-vazio",
              "name": "mensagem",
              "value": "Nenhum roteiro aprovado aguardando geração de áudio",
              "type": "string"
            },
            {
              "id": "timestamp",
              "name": "checked_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "33252490-c5b1-4147-92a0-c301b6bc97b6",
      "name": "Log - Nenhum Roteiro",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 460]
    },
    {
      "parameters": {
        "jsCode": "// ==================================================\n// PREPARAR E EXPLODIR TODAS AS TAREFAS DE ÁUDIO\n// ==================================================\n// Este node processa TODOS os roteiros de uma vez e\n// retorna uma lista linear de \"Chunks\" para processar.\n// Isso elimina a necessidade de loops aninhados.\n\nconst resultados = [];\n\nfor (const item of $input.all()) {\n  const roteiro = item.json;\n  const markdown = roteiro.conteudo_md;\n\n  if (!markdown || markdown.trim().length < 50) continue;\n\n  // 1. LIMPEZA\n  let textoLimpo = markdown\n   .replace(/^---[\\s\\S]*?---/m, '') // Remove frontmatter\n   .replace(/<[^>]*>/g, '') // Remove HTML tags\n   .replace(/^#{1,6}\\s+/gm, '') // Remove headers\n   .replace(/\\*\\*(.+?)\\*\\*/g, '$1') // Remove bold\n   .replace(/\\[(.+?)\\]\\(.+?\\)/g, '$1') // Remove links\n   .replace(/!\\(.*?\\]\\(.+?\\)/g, '') // Remove images\n   .replace(/^>\\s+/gm, '') // Remove blockquotes\n   .replace(/\\s+/g, ' ') // Normaliza espaços\n   .trim();\n\n  // 2. CONFIGURAÇÃO DE VOZ\n  const lang = (roteiro.linguagem || roteiro.canal_linguagem || 'pt-BR').toLowerCase();\n  const vozMapa = {\n    'pt-br': { voice: 'alloy', speed: 1.0 },\n    'en-us': { voice: 'nova', speed: 1.0 },\n    'es-es': { voice: 'fable', speed: 1.0 }\n  };\n  // Fallback seguro\n  const config = vozMapa[lang] || vozMapa['pt-br'] || { voice: 'alloy', speed: 1.0 };\n\n  // 3. SPLIT (CHUNKING)\n  const maxChars = 4000;\n  let chunks = [];\n  \n  if (textoLimpo.length > maxChars) {\n    // Split inteligente por frases/pontuação se possível, aqui simplificado por tamanho\n    const parts = textoLimpo.match(new RegExp(`.{1,${maxChars}}`, 'g')) || [];\n    chunks = parts;\n  } else {\n    chunks = [textoLimpo];\n  }\n\n  // 4. CRIAR ITENS INDIVIDUAIS (EXPLODE)\n  const totalChunks = chunks.length;\n  chunks.forEach((chunkText, index) => {\n    resultados.push({\n      json: {\n        // Dados Originais do Roteiro (herdado)\n        roteiro_id: roteiro.roteiro_id,\n        ideia_id: roteiro.ideia_id,\n        canal_id: roteiro.canal_id,\n        titulo: roteiro.titulo,\n        canal_nome: roteiro.canal_nome,\n        linguagem: roteiro.linguagem || 'pt-BR',\n        \n        // Dados do Job de Áudio Específico\n        texto_tts: chunkText,\n        chunk_index: index + 1,\n        total_chunks: totalChunks,\n        is_chunk: totalChunks > 1,\n        precisa_merge: totalChunks > 1,\n        \n        // Configurações OpenAI\n        modelo: 'tts-1-hd',\n        voice: config.voice,\n        speed: config.speed,\n        \n        // Controle\n        job_id: `${roteiro.roteiro_id}_${index + 1}`\n      }\n    });\n  });\n}\n\nreturn resultados;"
      },
      "id": "e305374b-e853-43a9-8393-2947137f61b7",
      "name": "Preparar Lista de Jobs (Explode)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a532c575-1a82-40f0-887f-f7f097a30cd7",
      "name": "Loop Unico Jobs",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/speech",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n model: $json.modelo,\n input: $json.texto_tts,\n voice: $json.voice,\n speed: $json.speed,\n response_format: 'mp3'\n}) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "7a3a8e94-99a2-4e17-8d2d-255416f43066",
      "name": "OpenAI TTS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 300],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "openAiApi": {
          "id": "kIHPoJY4nCrV5601",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item.json;\nconst binary = $input.item.binary;\n\nif (!binary || !binary.data) {\n throw new Error('Áudio não foi gerado');\n}\n\n// Nome do arquivo inteligente\nconst filename = item.is_chunk \n ? `${item.roteiro_id}_chunk${item.chunk_index}.mp3`\n : `${item.roteiro_id}.mp3`;\n\nconst storagePath = `audios/${filename}`;\n\nreturn {\n json: {\n ...item,\n filename: filename,\n storage_path: storagePath\n },\n binary: {\n data: binary.data\n }\n};"
      },
      "id": "3db09abf-d3ae-4ede-a435-8ec0f628bae1",
      "name": "Preparar Upload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://nlcisbfdiokmipyihtuz.supabase.co/storage/v1/object/{{ $json.storage_path }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5sY2lzYmZkaW9rbWlweWlodHV6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTczMTcwNDc1MCwiZXhwIjoyMDQ3MjgwNzUwfQ.j9o8hKU6KZVRXQkLgZ7gDYm6MMMgYmRJQ1u2OGnBkKo"
            },
            {
              "name": "Content-Type",
              "value": "audio/mpeg"
            },
            {
              "name": "x-upsert",
              "value": "true"
            }
          ]
        },
        "sendBinaryData": true,
        "binaryPropertyName": "data",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "c6d8ce14-3c15-4e46-8406-f1efeab8c79a",
      "name": "Upload Storage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item.json;\nconst projectId = 'nlcisbfdiokmipyihtuz';\nconst publicUrl = `https://${projectId}.supabase.co/storage/v1/object/public/${item.storage_path}`;\n\n// Cálculos finais\nconst caracteres = item.texto_tts.length;\nconst duracaoEst = Math.ceil((caracteres / 150) / item.speed);\n\nconst metadata = {\n provedor: 'openai',\n modelo: item.modelo,\n voice: item.voice,\n speed: item.speed,\n chunk_index: item.chunk_index,\n total_chunks: item.total_chunks,\n precisa_merge: item.precisa_merge\n};\n\nreturn {\n json: {\n ideia_id: item.ideia_id,\n roteiro_id: item.roteiro_id,\n canal_id: item.canal_id,\n storage_path: item.storage_path,\n public_url: publicUrl,\n duracao_segundos: duracaoEst,\n linguagem: item.linguagem,\n formato: 'audio/mpeg',\n tipo: 'AUDIO_TTS',\n status: item.precisa_merge ? 'AGUARDANDO_MERGE' : 'OK',\n metadata: metadata,\n titulo: item.titulo\n }\n};"
      },
      "id": "c2f7457c-b7f6-4bdf-841b-b184e4908217",
      "name": "Metadata Final",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO pulso_content.audios (\n ideia_id,\n roteiro_id,\n canal_id,\n storage_path,\n public_url,\n duracao_segundos,\n linguagem,\n formato,\n tipo,\n status,\n metadata\n) VALUES (\n '{{ $json.ideia_id }}',\n '{{ $json.roteiro_id }}',\n '{{ $json.canal_id }}',\n '{{ $json.storage_path }}',\n '{{ $json.public_url }}',\n {{ $json.duracao_segundos }},\n '{{ $json.linguagem }}',\n '{{ $json.formato }}',\n '{{ $json.tipo }}',\n '{{ $json.status }}',\n '{{ JSON.stringify($json.metadata) }}'::jsonb\n)\nRETURNING id;",
        "options": {}
      },
      "id": "975dfd78-5f29-42f5-a158-4aaa053cce2b",
      "name": "Inserir DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2220, 300],
      "credentials": {
        "postgres": {
          "id": "ziXq3E6EiLFU31DX",
          "name": "Postgres Supabase NOVO"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "audio-ok",
              "name": "audio_gerado",
              "value": "true",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "88c61b7a-16a4-4ee6-9951-65b56f312e4b",
      "name": "Item Concluido",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2440, 300]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "items_processados",
        "options": {}
      },
      "id": "2b2f3af6-ae5e-48c4-a6d4-f0c715463f8f",
      "name": "Agregar Tudo",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [2660, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "final-msg",
              "name": "status",
              "value": "Concluído com Sucesso",
              "type": "string"
            },
            {
              "id": "final-qtd",
              "name": "audios_criados",
              "value": "={{ $json.items_processados.length }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "aff1726f-0292-4c25-9fbb-721726fbd36a",
      "name": "FIM",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2880, 300]
    }
  ],
  "connections": {
    "A cada 10 minutos": {
      "main": [
        [
          {
            "node": "Buscar Roteiros sem Áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Roteiros sem Áudio": {
      "main": [
        [
          {
            "node": "Tem Roteiros?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem Roteiros?": {
      "main": [
        [
          {
            "node": "Preparar Lista de Jobs (Explode)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log - Nenhum Roteiro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Lista de Jobs (Explode)": {
      "main": [
        [
          {
            "node": "Loop Unico Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Unico Jobs": {
      "main": [
        [
          {
            "node": "OpenAI TTS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agregar Tudo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI TTS": {
      "main": [
        [
          {
            "node": "Preparar Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Upload": {
      "main": [
        [
          {
            "node": "Upload Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Storage": {
      "main": [
        [
          {
            "node": "Metadata Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Metadata Final": {
      "main": [
        [
          {
            "node": "Inserir DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inserir DB": {
      "main": [
        [
          {
            "node": "Item Concluido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Concluido": {
      "main": [
        [
          {
            "node": "Loop Unico Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agregar Tudo": {
      "main": [
        [
          {
            "node": "FIM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "4.0.0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1c07f1eb90393b2121c4e2d78af1ae5997f57da70bbfa23f5e98d20637e2a2f6"
  },
  "id": "WF02_FINAL_LINEAR",
  "tags": [
    {
      "id": "MFytbRYpluf20w5V",
      "name": "PULSO"
    },
    {
      "id": "1oYaJvQyf1LhoYQ3",
      "name": "Automação"
    },
    {
      "id": "voZKlFfz1Fmjxnht",
      "name": "Audio"
    }
  ]
}