n8n-workflows/WF02_Gerar_Audio.json
{
  "name": "WF02 - Gerar Áudio TTS (V5 - DEBUG MODE)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "id": "beba8ba7-ca98-4707-b1ab-c1a625e0054a",
      "name": "A cada 10 minutos",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n r.id as roteiro_id,\n r.ideia_id,\n r.canal_id,\n i.serie_id,\n r.titulo,\n r.conteudo_md,\n r.duracao_estimado_segundos,\n r.linguagem,\n r.metadata,\n i.titulo as ideia_titulo,\n c.nome as canal_nome,\n c.slug as canal_slug,\n c.idioma as canal_linguagem,\n p.id as pipeline_id,\n p.status as pipeline_status\nFROM pulso_content.roteiros r\nINNER JOIN pulso_content.ideias i ON i.id = r.ideia_id\nINNER JOIN pulso_core.canais c ON c.id = r.canal_id\nLEFT JOIN pulso_content.pipeline_producao p ON p.ideia_id = r.ideia_id\nLEFT JOIN pulso_content.audios a ON a.roteiro_id = r.id\nWHERE \n r.status IN ('APROVADO', 'RASCUNHO')\n AND a.id IS NULL\n AND r.conteudo_md IS NOT NULL\nORDER BY r.created_at ASC\nLIMIT 5;",
        "options": {}
      },
      "id": "5befd06b-bb2c-4872-8ac1-75ca77a0ca7f",
      "name": "Buscar Roteiros",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [460, 300],
      "credentials": {
        "postgres": {
          "id": "ziXq3E6EiLFU31DX",
          "name": "Postgres Supabase NOVO"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ==================================================\n// EXPLODE ITEMS (FORÇA BRUTA)\n// ==================================================\nconst inputs = $input.all();\nconst resultados = [];\n\n// Itera sobre cada roteiro que veio do banco\nfor (let i = 0; i < inputs.length; i++) {\n  const roteiro = inputs[i].json;\n  const markdown = roteiro.conteudo_md;\n\n  // Validação simples\n  if (!markdown || markdown.length < 10) continue;\n\n  // Configuração básica\n  const lang = (roteiro.linguagem || 'pt-BR').toLowerCase();\n  const voice = lang.includes('en') ? 'nova' : 'alloy';\n\n  // Simulação de Chunking (simplificada para garantir funcionamento)\n  // Divide a cada 4000 chars aproximadamente\n  const chunks = markdown.match(/.{1,4000}/g) || [markdown];\n  \n  // CRIA UM ITEM NOVO PARA CADA PEDAÇO\n  chunks.forEach((texto, index) => {\n    resultados.push({\n      json: {\n        roteiro_id: roteiro.roteiro_id,\n        titulo: roteiro.titulo,\n        texto_tts: texto,\n        chunk_index: index + 1,\n        total_chunks: chunks.length,\n        is_chunk: chunks.length > 1,\n        precisa_merge: chunks.length > 1,\n        voice: voice,\n        speed: 1.0,\n        modelo: 'tts-1-hd',\n        // ID único para debug\n        debug_id: `R${roteiro.roteiro_id}_C${index}`\n      }\n    });\n  });\n}\n\n// IMPORTANTE: Isso garante que o n8n veja uma lista de itens\nreturn resultados;"
      },
      "id": "e305374b-e853-43a9-8393-2947137f61b7",
      "name": "Preparar Lista de Jobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "debug-count",
              "name": "total_para_processar",
              "value": "={{ $input.all().length }}",
              "type": "number"
            },
            {
              "id": "debug-first",
              "name": "primeiro_id",
              "value": "={{ $json.roteiro_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b1c2d3e4-f5a6-7b8c-9d0e-1f2a3b4c5d6e",
      "name": "DEBUG_CONTAGEM",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "a532c575-1a82-40f0-887f-f7f097a30cd7",
      "name": "Loop Unico Jobs",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "path-check",
              "name": "caminho",
              "value": "processando",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "aa11bb22-cc33-44dd-55ee-ff6677889900",
      "name": "CAMINHO_LOOP",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1360, 200]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "path-end",
              "name": "caminho",
              "value": "finalizado",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "bb22cc33-dd44-55ee-66ff-77889900aa11",
      "name": "CAMINHO_FIM",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1360, 460]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/speech",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n model: $json.modelo,\n input: $json.texto_tts,\n voice: $json.voice,\n speed: $json.speed,\n response_format: 'mp3'\n}) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "7a3a8e94-99a2-4e17-8d2d-255416f43066",
      "name": "OpenAI TTS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1580, 200],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "openAiApi": {
          "id": "kIHPoJY4nCrV5601",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item.json;\nconst binary = $input.item.binary;\n\nif (!binary || !binary.data) {\n throw new Error('Áudio não foi gerado');\n}\n\nconst filename = item.is_chunk \n ? `${item.roteiro_id}_chunk${item.chunk_index}.mp3`\n : `${item.roteiro_id}.mp3`;\n\nconst storagePath = `audios/${filename}`;\n\nreturn {\n json: {\n ...item,\n filename: filename,\n storage_path: storagePath\n },\n binary: {\n data: binary.data\n }\n};"
      },
      "id": "3db09abf-d3ae-4ede-a435-8ec0f628bae1",
      "name": "Preparar Upload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1800, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://nlcisbfdiokmipyihtuz.supabase.co/storage/v1/object/{{ $json.storage_path }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5sY2lzYmZkaW9rbWlweWlodHV6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTczMTcwNDc1MCwiZXhwIjoyMDQ3MjgwNzUwfQ.j9o8hKU6KZVRXQkLgZ7gDYm6MMMgYmRJQ1u2OGnBkKo"
            },
            {
              "name": "Content-Type",
              "value": "audio/mpeg"
            },
            {
              "name": "x-upsert",
              "value": "true"
            }
          ]
        },
        "sendBinaryData": true,
        "binaryPropertyName": "data",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "c6d8ce14-3c15-4e46-8406-f1efeab8c79a",
      "name": "Upload Storage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2020, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO pulso_content.audios (\n ideia_id,\n roteiro_id,\n canal_id,\n storage_path,\n public_url,\n duracao_segundos,\n linguagem,\n formato,\n tipo,\n status,\n metadata\n) VALUES (\n '{{ $json.ideia_id }}',\n '{{ $json.roteiro_id }}',\n '{{ $json.canal_id }}',\n '{{ $json.storage_path }}',\n '{{ $json.public_url || \"\" }}',\n 60,\n '{{ $json.linguagem || \"pt-BR\" }}',\n 'audio/mpeg',\n 'AUDIO_TTS',\n '{{ $json.precisa_merge ? \"AGUARDANDO_MERGE\" : \"OK\" }}',\n '{}'::jsonb\n)\nRETURNING id;",
        "options": {}
      },
      "id": "975dfd78-5f29-42f5-a158-4aaa053cce2b",
      "name": "Inserir DB (Simples)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2240, 200],
      "credentials": {
        "postgres": {
          "id": "ziXq3E6EiLFU31DX",
          "name": "Postgres Supabase NOVO"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "done-check",
              "name": "concluido",
              "value": "true",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "88c61b7a-16a4-4ee6-9951-65b56f312e4b",
      "name": "Item Concluido",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2460, 200]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "items_processados",
        "options": {}
      },
      "id": "2b2f3af6-ae5e-48c4-a6d4-f0c715463f8f",
      "name": "Agregar Tudo",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [1600, 460]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "final-msg",
              "name": "status",
              "value": "Concluído com Sucesso",
              "type": "string"
            },
            {
              "id": "final-qtd",
              "name": "audios_criados",
              "value": "={{ $json.items_processados.length }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "aff1726f-0292-4c25-9fbb-721726fbd36a",
      "name": "FIM",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1820, 460]
    }
  ],
  "connections": {
    "A cada 10 minutos": {
      "main": [
        [
          {
            "node": "Buscar Roteiros",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Roteiros": {
      "main": [
        [
          {
            "node": "Preparar Lista de Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Lista de Jobs": {
      "main": [
        [
          {
            "node": "DEBUG_CONTAGEM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DEBUG_CONTAGEM": {
      "main": [
        [
          {
            "node": "Loop Unico Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Unico Jobs": {
      "main": [
        [
          {
            "node": "CAMINHO_LOOP",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CAMINHO_FIM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CAMINHO_LOOP": {
      "main": [
        [
          {
            "node": "OpenAI TTS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI TTS": {
      "main": [
        [
          {
            "node": "Preparar Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Upload": {
      "main": [
        [
          {
            "node": "Upload Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Storage": {
      "main": [
        [
          {
            "node": "Inserir DB (Simples)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inserir DB (Simples)": {
      "main": [
        [
          {
            "node": "Item Concluido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Concluido": {
      "main": [
        [
          {
            "node": "Loop Unico Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CAMINHO_FIM": {
      "main": [
        [
          {
            "node": "Agregar Tudo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agregar Tudo": {
      "main": [
        [
          {
            "node": "FIM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "5.0.0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1c07f1eb90393b2121c4e2d78af1ae5997f57da70bbfa23f5e98d20637e2a2f6"
  },
  "id": "WF02_FINAL_DEBUG_V5",
  "tags": [
    {
      "id": "MFytbRYpluf20w5V",
      "name": "PULSO"
    },
    {
      "id": "1oYaJvQyf1LhoYQ3",
      "name": "Automação"
    },
    {
      "id": "voZKlFfz1Fmjxnht",
      "name": "Audio"
    }
  ]
}