n8n-workflows/WF02_Gerar_Audio.json
{
  "name": "WF02 - Gerar Áudio TTS (CORRIGIDO)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "A cada 10 minutos",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  r.id as roteiro_id,\n  r.ideia_id,\n  r.canal_id,\n  i.serie_id,\n  r.titulo,\n  r.conteudo_md,\n  r.duracao_estimado_segundos,\n  r.linguagem,\n  r.metadata,\n  i.titulo as ideia_titulo,\n  c.nome as canal_nome,\n  c.slug as canal_slug,\n  c.idioma as canal_linguagem,\n  p.id as pipeline_id,\n  p.status as pipeline_status\nFROM pulso_content.roteiros r\nINNER JOIN pulso_content.ideias i ON i.id = r.ideia_id\nINNER JOIN pulso_core.canais c ON c.id = r.canal_id\nLEFT JOIN pulso_content.pipeline_producao p ON p.ideia_id = r.ideia_id\nLEFT JOIN pulso_content.audios a ON a.roteiro_id = r.id\nWHERE r.status = 'APROVADO'\n  AND a.id IS NULL\n  AND r.conteudo_md IS NOT NULL\n  AND LENGTH(r.conteudo_md) > 50\n  AND LENGTH(r.conteudo_md) < 4000\nORDER BY r.created_at ASC\nLIMIT 1;",
        "options": {}
      },
      "id": "buscar-roteiro",
      "name": "Buscar 1 Roteiro sem Áudio",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [460, 300],
      "credentials": {
        "postgres": {
          "id": "ziXq3E6EiLFU31DX",
          "name": "Postgres Supabase NOVO"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $input.all().length }}",
              "rightValue": "0",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        }
      },
      "id": "check-roteiro",
      "name": "Tem Roteiro?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "mensagem",
              "value": "Nenhum roteiro aprovado aguardando geração de áudio",
              "type": "string"
            },
            {
              "name": "checked_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "log-vazio",
      "name": "Log - Nenhum Roteiro",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 400]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item.json;\nconst markdown = item.conteudo_md;\n\nif (!markdown || markdown.trim().length < 50) {\n  throw new Error(`Roteiro ${item.roteiro_id}: conteúdo muito curto ou vazio`);\n}\n\n// Limpar markdown\nlet textoLimpo = markdown\n  .replace(/^---[\\s\\S]*?---/m, '')\n  .replace(/^#{1,6}\\s+/gm, '')\n  .replace(/\\*\\*(.+?)\\*\\*/g, '$1')\n  .replace(/\\*(.+?)\\*/g, '$1')\n  .replace(/__(.+?)__/g, '$1')\n  .replace(/_(.+?)_/g, '$1')\n  .replace(/\\[(.+?)\\]\\(.+?\\)/g, '$1')\n  .replace(/!\\[.*?\\]\\(.+?\\)/g, '')\n  .replace(/^[-*+]\\s+/gm, '')\n  .replace(/^\\d+\\.\\s+/gm, '')\n  .replace(/`(.+?)`/g, '$1')\n  .replace(/```[\\s\\S]*?```/g, '')\n  .replace(/^>\\s+/gm, '')\n  .replace(/^[-*_]{3,}$/gm, '')\n  .replace(/\\n{3,}/g, '\\n\\n')\n  .trim();\n\n// Normalizar pronúncia\ntextoLimpo = textoLimpo\n  .replace(/\\b([0-9]+)\\s*%/g, '$1 por cento')\n  .replace(/\\b([0-9]+)\\s*km\\b/gi, '$1 quilômetros')\n  .replace(/\\b([0-9]+)\\s*m\\b(?!\\w)/gi, '$1 metros')\n  .replace(/\\b([0-9]+)\\s*kg\\b/gi, '$1 quilogramas')\n  .replace(/\\b([0-9]+)\\s*h\\b(?!\\w)/gi, '$1 horas')\n  .replace(/\\$\\s*([0-9,.]+)/g, '$1 dólares')\n  .replace(/R\\$\\s*([0-9,.]+)/g, '$1 reais')\n  .replace(/\\bDr\\./gi, 'Doutor')\n  .replace(/\\bDra\\./gi, 'Doutora')\n  .replace(/\\bSr\\./gi, 'Senhor')\n  .replace(/\\bSra\\./gi, 'Senhora')\n  .replace(/\\bProf\\./gi, 'Professor')\n  .replace(/\\bEUA\\b/g, 'Estados Unidos')\n  .replace(/https?:\\/\\/\\S+/g, '')\n  .replace(/\\S+@\\S+\\.\\S+/g, '')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\nconst totalCaracteres = textoLimpo.length;\nconst custoEstimado = (totalCaracteres / 1000000) * 15;\n\nreturn {\n  json: {\n    roteiro_id: item.roteiro_id,\n    ideia_id: item.ideia_id,\n    canal_id: item.canal_id,\n    serie_id: item.serie_id,\n    pipeline_id: item.pipeline_id,\n    titulo: item.titulo,\n    texto_tts: textoLimpo,\n    total_caracteres: totalCaracteres,\n    custo_estimado_usd: parseFloat(custoEstimado.toFixed(4)),\n    linguagem: item.linguagem || item.canal_linguagem || 'pt-BR',\n    duracao_estimada_segundos: item.duracao_estimado_segundos || 60,\n    canal_nome: item.canal_nome,\n    canal_slug: item.canal_slug,\n    ideia_titulo: item.ideia_titulo\n  }\n};"
      },
      "id": "limpar-markdown",
      "name": "Limpar Markdown para TTS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item.json;\nconst linguagem = (item.linguagem || 'pt-BR').toLowerCase();\n\nconst vozMapa = {\n  'pt-br': { voice: 'alloy', speed: 1.0 },\n  'pt-pt': { voice: 'alloy', speed: 0.95 },\n  'pt': { voice: 'alloy', speed: 1.0 },\n  'en-us': { voice: 'nova', speed: 1.0 },\n  'en-gb': { voice: 'shimmer', speed: 0.95 },\n  'en': { voice: 'nova', speed: 1.0 },\n  'es-es': { voice: 'fable', speed: 1.0 },\n  'es-mx': { voice: 'onyx', speed: 1.0 },\n  'es': { voice: 'fable', speed: 1.0 },\n  'fr-fr': { voice: 'echo', speed: 0.95 },\n  'fr': { voice: 'echo', speed: 0.95 },\n  'de-de': { voice: 'onyx', speed: 0.95 },\n  'de': { voice: 'onyx', speed: 0.95 },\n  'it-it': { voice: 'fable', speed: 1.0 },\n  'it': { voice: 'fable', speed: 1.0 }\n};\n\nconst config = vozMapa[linguagem] || { voice: 'alloy', speed: 1.0 };\n\nreturn {\n  json: {\n    roteiro_id: item.roteiro_id,\n    ideia_id: item.ideia_id,\n    canal_id: item.canal_id,\n    serie_id: item.serie_id,\n    pipeline_id: item.pipeline_id,\n    titulo: item.titulo,\n    texto_tts: item.texto_tts,\n    linguagem: item.linguagem,\n    duracao_estimada_segundos: item.duracao_estimada_segundos,\n    total_caracteres: item.total_caracteres,\n    custo_estimado_usd: item.custo_estimado_usd,\n    voice: config.voice,\n    speed: config.speed,\n    modelo: 'tts-1-hd',\n    canal_nome: item.canal_nome,\n    canal_slug: item.canal_slug\n  }\n};"
      },
      "id": "selecionar-voz",
      "name": "Selecionar Voz por Idioma",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/speech",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: $json.modelo,\n  input: $json.texto_tts,\n  voice: $json.voice,\n  speed: $json.speed,\n  response_format: 'mp3'\n}) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "openai-tts",
      "name": "OpenAI TTS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 200],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "openAiApi": {
          "id": "kIHPoJY4nCrV5601",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const dadosVoz = $node['Selecionar Voz por Idioma'].json;\nconst binary = $input.item.binary;\n\nif (!binary || !binary.data) {\n  throw new Error('Áudio não foi gerado pela OpenAI');\n}\n\nconst roteiroId = dadosVoz.roteiro_id;\nconst filename = `${roteiroId}.mp3`;\nconst storagePath = `audios/${filename}`;\n\nreturn {\n  json: {\n    roteiro_id: roteiroId,\n    ideia_id: dadosVoz.ideia_id,\n    canal_id: dadosVoz.canal_id,\n    serie_id: dadosVoz.serie_id,\n    pipeline_id: dadosVoz.pipeline_id,\n    filename: filename,\n    storage_path: storagePath,\n    linguagem: dadosVoz.linguagem,\n    voice: dadosVoz.voice,\n    modelo: dadosVoz.modelo,\n    speed: dadosVoz.speed,\n    total_caracteres: dadosVoz.total_caracteres,\n    custo_estimado_usd: dadosVoz.custo_estimado_usd,\n    titulo: dadosVoz.titulo,\n    canal_nome: dadosVoz.canal_nome,\n    canal_slug: dadosVoz.canal_slug\n  },\n  binary: {\n    data: binary.data\n  }\n};"
      },
      "id": "prep-upload",
      "name": "Preparar Upload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://nlcisbfdiokmipyihtuz.supabase.co/storage/v1/object/audios/{{ $json.filename }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5sY2lzYmZkaW9rbWlweWlodHV6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTczMTcwNDc1MCwiZXhwIjoyMDQ3MjgwNzUwfQ.j9o8hKU6KZVRXQkLgZ7gDYm6MMMgYmRJQ1u2OGnBkKo"
            },
            {
              "name": "Content-Type",
              "value": "audio/mpeg"
            },
            {
              "name": "x-upsert",
              "value": "true"
            }
          ]
        },
        "sendBinaryData": true,
        "binaryPropertyName": "data",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json",
              "neverError": false
            }
          }
        }
      },
      "id": "upload-storage",
      "name": "Upload Supabase Storage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 200]
    },
    {
      "parameters": {
        "jsCode": "const dadosUpload = $node['Preparar Upload'].json;\nconst projectId = 'nlcisbfdiokmipyihtuz';\nconst storagePath = dadosUpload.storage_path;\nconst publicUrl = `https://${projectId}.supabase.co/storage/v1/object/public/${storagePath}`;\n\nconst duracaoEstimada = Math.ceil((dadosUpload.total_caracteres / 150) / dadosUpload.speed);\n\nconst metadata = {\n  provedor: 'openai',\n  modelo: dadosUpload.modelo,\n  voice: dadosUpload.voice,\n  speed: dadosUpload.speed,\n  caracteres: dadosUpload.total_caracteres,\n  custo_usd: dadosUpload.custo_estimado_usd,\n  duracao_estimada_segundos: duracaoEstimada,\n  gerado_em: new Date().toISOString(),\n  workflow_execution_id: $execution.id\n};\n\nreturn {\n  json: {\n    roteiro_id: dadosUpload.roteiro_id,\n    ideia_id: dadosUpload.ideia_id,\n    canal_id: dadosUpload.canal_id,\n    storage_path: storagePath,\n    public_url: publicUrl,\n    duracao_segundos: duracaoEstimada,\n    linguagem: dadosUpload.linguagem || 'pt-BR',\n    formato: 'audio/mpeg',\n    tipo: 'AUDIO_TTS',\n    status: 'OK',\n    metadata: metadata\n  }\n};"
      },
      "id": "prep-metadata",
      "name": "Preparar Metadata Áudio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO pulso_content.audios (\n  ideia_id,\n  roteiro_id,\n  canal_id,\n  storage_path,\n  public_url,\n  duracao_segundos,\n  linguagem,\n  formato,\n  tipo,\n  status,\n  metadata\n) VALUES (\n  COALESCE(NULLIF('{{ $json.ideia_id }}', 'undefined'), NULL)::uuid,\n  COALESCE(NULLIF('{{ $json.roteiro_id }}', 'undefined'), NULL)::uuid,\n  COALESCE(NULLIF('{{ $json.canal_id }}', 'undefined'), NULL)::uuid,\n  '{{ $json.storage_path }}',\n  '{{ $json.public_url }}',\n  {{ $json.duracao_segundos || 'NULL' }},\n  '{{ $json.linguagem }}',\n  '{{ $json.formato }}',\n  '{{ $json.tipo }}',\n  '{{ $json.status }}',\n  '{{ JSON.stringify($json.metadata) }}'::jsonb\n)\nRETURNING id, roteiro_id, public_url, duracao_segundos, status, created_at;",
        "options": {}
      },
      "id": "insert-audio",
      "name": "Inserir Áudio no DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2220, 200],
      "credentials": {
        "postgres": {
          "id": "ziXq3E6EiLFU31DX",
          "name": "Postgres Supabase NOVO"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO pulso_content.logs_workflows (\n  workflow_name,\n  status,\n  detalhes\n) VALUES (\n  'WF02_Gerar_Audio_TTS',\n  'sucesso',\n  jsonb_build_object(\n    'execution_id', '{{ $workflow.id }}_{{ $execution.id }}',\n    'audio_id', '{{ $json.id }}',\n    'roteiro_id', '{{ $json.roteiro_id }}',\n    'public_url', '{{ $json.public_url }}',\n    'duracao_segundos', {{ $json.duracao_segundos }},\n    'status_audio', '{{ $json.status }}',\n    'timestamp', '{{ $json.created_at }}'\n  )\n);",
        "options": {}
      },
      "id": "log-sucesso",
      "name": "Log Sucesso",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2440, 200],
      "credentials": {
        "postgres": {
          "id": "ziXq3E6EiLFU31DX",
          "name": "Postgres Supabase NOVO"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "success",
              "value": "true",
              "type": "boolean"
            },
            {
              "name": "audio_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "name": "roteiro_id",
              "value": "={{ $json.roteiro_id }}",
              "type": "string"
            },
            {
              "name": "public_url",
              "value": "={{ $json.public_url }}",
              "type": "string"
            },
            {
              "name": "duracao",
              "value": "={{ $json.duracao_segundos }}s",
              "type": "string"
            },
            {
              "name": "completed_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "resultado-final",
      "name": "Resultado Final",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2660, 200]
    }
  ],
  "connections": {
    "A cada 10 minutos": {
      "main": [[{"node": "Buscar 1 Roteiro sem Áudio", "type": "main", "index": 0}]]
    },
    "Buscar 1 Roteiro sem Áudio": {
      "main": [[{"node": "Tem Roteiro?", "type": "main", "index": 0}]]
    },
    "Tem Roteiro?": {
      "main": [
        [{"node": "Limpar Markdown para TTS", "type": "main", "index": 0}],
        [{"node": "Log - Nenhum Roteiro", "type": "main", "index": 0}]
      ]
    },
    "Limpar Markdown para TTS": {
      "main": [[{"node": "Selecionar Voz por Idioma", "type": "main", "index": 0}]]
    },
    "Selecionar Voz por Idioma": {
      "main": [[{"node": "OpenAI TTS", "type": "main", "index": 0}]]
    },
    "OpenAI TTS": {
      "main": [[{"node": "Preparar Upload", "type": "main", "index": 0}]]
    },
    "Preparar Upload": {
      "main": [[{"node": "Upload Supabase Storage", "type": "main", "index": 0}]]
    },
    "Upload Supabase Storage": {
      "main": [[{"node": "Preparar Metadata Áudio", "type": "main", "index": 0}]]
    },
    "Preparar Metadata Áudio": {
      "main": [[{"node": "Inserir Áudio no DB", "type": "main", "index": 0}]]
    },
    "Inserir Áudio no DB": {
      "main": [[{"node": "Log Sucesso", "type": "main", "index": 0}]]
    },
    "Log Sucesso": {
      "main": [[{"node": "Resultado Final", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "4.1.0-CORRIGIDO",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1c07f1eb90393b2121c4e2d78af1ae5997f57da70bbfa23f5e98d20637e2a2f6"
  },
  "id": "WF02_CORRIGIDO",
  "tags": [
    {"id": "MFytbRYpluf20w5V", "name": "PULSO"},
    {"id": "1oYaJvQyf1LhoYQ3", "name": "Automação"},
    {"id": "voZKlFfz1Fmjxnht", "name": "Audio"}
  ]
}