n8n-workflows/WF03_Preparar_Video.json
{
  "name": "WF03 - Preparar Vídeo (Metadata)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/30 * * * *"
            }
          ]
        }
      },
      "id": "00000000-0000-0000-0003-000000000001",
      "name": "CRON a cada 30min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Buscar áudios prontos sem vídeo registrado\nSELECT \n  a.id as audio_id,\n  a.ideia_id,\n  a.roteiro_id,\n  a.canal_id,\n  a.public_url as audio_url,\n  a.duracao_segundos,\n  a.linguagem,\n  r.titulo,\n  r.conteudo_md,\n  r.metadata as roteiro_metadata,\n  i.descricao as ideia_descricao,\n  i.tags,\n  c.nome as canal_nome,\n  c.slug as canal_slug,\n  p.id as pipeline_id,\n  p.status as pipeline_status\nFROM pulso_content.audios a\nJOIN roteiros r ON r.id = a.roteiro_id\nJOIN ideias i ON i.id = a.ideia_id\nJOIN canais c ON c.id = a.canal_id\nJOIN pulso_content.pipeline_producao p ON p.ideia_id = a.ideia_id\nWHERE a.tipo = 'AUDIO_TTS'\n  AND a.status = 'OK'\n  AND NOT EXISTS (\n    SELECT 1 FROM pulso_content.videos v \n    WHERE v.roteiro_id = a.roteiro_id\n  )\nORDER BY a.created_at ASC\nLIMIT 10;",
        "options": {}
      },
      "id": "00000000-0000-0000-0003-000000000002",
      "name": "Buscar Áudios Sem Vídeo",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [460, 300],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "Postgres supabase"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check001",
              "leftValue": "={{ $json.audio_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "00000000-0000-0000-0003-000000000003",
      "name": "Tem Áudios?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const roteiro = $input.item.json.conteudo_md;\nconst titulo = $input.item.json.titulo;\nconst tags = $input.item.json.tags || [];\nconst descricao = $input.item.json.ideia_descricao;\n\n// Gerar storyboard baseado no roteiro\nconst sections = [];\n\n// Extrair seções do roteiro markdown\nconst ganchoMatch = roteiro.match(/##\\s*GANCHO[\\s\\S]*?(?=##|$)/i);\nconst desenvolvimentoMatch = roteiro.match(/##\\s*DESENVOLVIMENTO[\\s\\S]*?(?=##|$)/i);\nconst climaxMatch = roteiro.match(/##\\s*CLÍMAX[\\s\\S]*?(?=##|$)/i);\nconst ctaMatch = roteiro.match(/##\\s*CTA[\\s\\S]*?(?=##|$)/i);\n\nif (ganchoMatch) {\n  sections.push({\n    nome: 'GANCHO',\n    tempo_inicio: 0,\n    tempo_fim: 5,\n    texto: ganchoMatch[0].replace(/##\\s*GANCHO/i, '').trim().substring(0, 200),\n    tipo_visual: 'texto_impactante',\n    elementos: ['mascote_surpreso', 'background_escuro', 'texto_grande']\n  });\n}\n\nif (desenvolvimentoMatch) {\n  sections.push({\n    nome: 'DESENVOLVIMENTO',\n    tempo_inicio: 5,\n    tempo_fim: 40,\n    texto: desenvolvimentoMatch[0].replace(/##\\s*DESENVOLVIMENTO/i, '').trim().substring(0, 500),\n    tipo_visual: 'narrativa_visual',\n    elementos: ['mascote_narrando', 'infograficos', 'transicoes_suaves']\n  });\n}\n\nif (climaxMatch) {\n  sections.push({\n    nome: 'CLÍMAX',\n    tempo_inicio: 40,\n    tempo_fim: 50,\n    texto: climaxMatch[0].replace(/##\\s*CLÍMAX/i, '').trim().substring(0, 200),\n    tipo_visual: 'momento_uau',\n    elementos: ['mascote_impactado', 'efeito_zoom', 'texto_revelacao']\n  });\n}\n\nif (ctaMatch) {\n  sections.push({\n    nome: 'CTA',\n    tempo_inicio: 50,\n    tempo_fim: 55,\n    texto: ctaMatch[0].replace(/##\\s*CTA/i, '').trim().substring(0, 100),\n    tipo_visual: 'call_to_action',\n    elementos: ['mascote_convidativo', 'botao_seguir', 'logo_canal']\n  });\n}\n\n// Metadata de vídeo\nconst videoMetadata = {\n  storyboard: sections,\n  audio_id: $input.item.json.audio_id,\n  audio_url: $input.item.json.audio_url,\n  titulo_video: titulo,\n  descricao_video: descricao,\n  hashtags: tags,\n  mascote_obrigatorio: true,\n  orientacao: 'vertical',\n  resolucao_alvo: '1080x1920',\n  fps: 30,\n  codec: 'h264',\n  formato_container: 'mp4',\n  fase_producao: 'AGUARDANDO_MONTAGEM',\n  instrucoes_montagem: [\n    '1. Importar áudio do Supabase Storage',\n    '2. Adicionar mascote do canal em todas as cenas',\n    '3. Seguir storyboard para timing de elementos visuais',\n    '4. Adicionar legendas automáticas',\n    '5. Exportar em 1080x1920 (vertical)',\n    '6. Upload final no Supabase Storage bucket videos/'\n  ]\n};\n\nreturn {\n  json: {\n    ...input.item.json,\n    video_metadata: videoMetadata,\n    storage_path_placeholder: `videos/${$input.item.json.roteiro_id}.mp4`\n  }\n};"
      },
      "id": "00000000-0000-0000-0003-000000000004",
      "name": "Gerar Storyboard",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO pulso_content.videos (\n  ideia_id,\n  roteiro_id,\n  canal_id,\n  storage_path,\n  public_url,\n  duracao_segundos,\n  resolucao,\n  formato,\n  plataforma_foco,\n  tipo,\n  status,\n  metadata\n) VALUES (\n  '{{ $json.ideia_id }}',\n  '{{ $json.roteiro_id }}',\n  '{{ $json.canal_id }}',\n  '{{ $json.storage_path_placeholder }}',\n  'pendente',\n  {{ $json.duracao_segundos }},\n  '1080x1920',\n  'video/mp4',\n  'tiktok',\n  'VIDEO_SHORT',\n  'AGUARDANDO_MONTAGEM',\n  '{{ JSON.stringify($json.video_metadata) }}'::jsonb\n) RETURNING id, status, storage_path;",
        "options": {}
      },
      "id": "00000000-0000-0000-0003-000000000005",
      "name": "Registrar Vídeo (Metadata)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1120, 200],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "Postgres supabase"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "log001",
              "name": "video_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "log002",
              "name": "status",
              "value": "={{ $json.status }}",
              "type": "string"
            },
            {
              "id": "log003",
              "name": "roteiro_id",
              "value": "={{ $('Gerar Storyboard').item.json.roteiro_id }}",
              "type": "string"
            },
            {
              "id": "log004",
              "name": "audio_url",
              "value": "={{ $('Gerar Storyboard').item.json.audio_url }}",
              "type": "string"
            },
            {
              "id": "log005",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "00000000-0000-0000-0003-000000000006",
      "name": "Log Resultado",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO pulso_content.logs_workflows (\n  workflow_name,\n  execution_id,\n  status,\n  roteiro_id,\n  detalhes,\n  created_at\n) VALUES (\n  'WF03_Preparar_Video',\n  '{{ $workflow.id }}_{{ $execution.id }}',\n  'sucesso',\n  '{{ $json.roteiro_id }}',\n  jsonb_build_object(\n    'video_id', '{{ $json.video_id }}',\n    'status', '{{ $json.status }}',\n    'audio_url', '{{ $json.audio_url }}',\n    'timestamp', '{{ $json.timestamp }}'\n  ),\n  NOW()\n);",
        "options": {}
      },
      "id": "00000000-0000-0000-0003-000000000007",
      "name": "Registrar Log",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1560, 200],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "Postgres supabase"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "00000000-0000-0000-0003-000000000008",
      "name": "Fim - Sem Novos Áudios",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1.0,
      "position": [900, 400]
    }
  ],
  "connections": {
    "CRON a cada 30min": {
      "main": [
        [
          {
            "node": "Buscar Áudios Sem Vídeo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Áudios Sem Vídeo": {
      "main": [
        [
          {
            "node": "Tem Áudios?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem Áudios?": {
      "main": [
        [
          {
            "node": "Gerar Storyboard",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fim - Sem Novos Áudios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar Storyboard": {
      "main": [
        [
          {
            "node": "Registrar Vídeo (Metadata)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Vídeo (Metadata)": {
      "main": [
        [
          {
            "node": "Log Resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Resultado": {
      "main": [
        [
          {
            "node": "Registrar Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "id": "1",
      "name": "PULSO"
    },
    {
      "id": "2",
      "name": "Automação"
    }
  ],
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "nlcisbfdiokmipyihtuz"
  },
  "id": "WF03",
  "versionId": "1.0.0"
}
